In [3]:
import pandas as pd
import numpy as np
df = pd.DataFrame({"A":["Abi","Babu","Charles","Darwin","Abi","Charles","Darwin"],
                   "B":["one","two","three","one","two","three","one"],
                   "C":np.random.randint(7,size=7),
                   "D":np.random.randint(7,size=7)})
print("\n Original Dataframe: \n",df)

 Original Dataframe:
          A      B  C  D
0      Abi    one  5  5
1     Babu    two  4  0
2  Charles  three  6  2
3   Darwin    one  3  0
4      Abi    two  2  0
5  Charles  three  0  6
6   Darwin    one  6  4

In [8]:
#Grouping with one column sum
df1 = df.groupby(["A","B"],as_index = False)["C"].sum()
print("\n Original Dataframe \n",df)
print("\n Grouped Dataframe \n",df1)

 Original Dataframe
          A      B  C  D
0      Abi    one  5  5
1     Babu    two  4  0
2  Charles  three  6  2
3   Darwin    one  3  0
4      Abi    two  2  0
5  Charles  three  0  6
6   Darwin    one  6  4

 Grouped Dataframe
          A      B  C
0      Abi    one  5
1      Abi    two  2
2     Babu    two  4
3  Charles  three  6
4   Darwin    one  9

In [11]:
df2 = df.groupby(["A","B"],as_index = False)["C"].sum()
df3 = df.groupby(["A","B"],as_index = False)[["C","D"]].sum()
print("\n Grouped dataframe1 \n",df2)
print("\n Grouped dataframe2 \n",df3)

 Grouped dataframe1
          A      B  C
0      Abi    one  5
1      Abi    two  2
2     Babu    two  4
3  Charles  three  6
4   Darwin    one  9

 Grouped dataframe2
          A      B  C  D
0      Abi    one  5  5
1      Abi    two  2  0
2     Babu    two  4  0
3  Charles  three  6  8
4   Darwin    one  9  4

In [12]:
import pandas as pd
df = pd.DataFrame({"Category":["A","B","C","A","B","C"],
                  "Sales":[100,200,150,150,130,200],
                  "Profit":[10,15,20,25,30,15]})
print(df)
df1 = df.groupby("Category").agg({"Sales":["sum","mean"],"Profit":["sum","mean"]})
print(df1)

  Category  Sales  Profit
0        A    100      10
1        B    200      15
2        C    150      20
3        A    150      25
4        B    130      30
5        C    200      15
         Sales        Profit
           sum   mean    sum  mean
Category
A          250  125.0     35  17.5
B          330  165.0     45  22.5
C          350  175.0     35  17.5

In [22]:
import pandas as pd


df = pd.DataFrame({"CAT":["Abi","Bob","Charles","Abi","Bob","Charles"],
                  "Marks":[90,20,10,50,30,20],
                  "Attendance":[80,90,70,75,80,75]})

print("Original DataFrame:")
print(df)


df1 = df.groupby("CAT").agg({"Marks":["min", "max"], "Attendance":["min", "max"]})
print("\nAggregated Min and Max DataFrame:")
print(df1)


df2 = df.groupby("CAT").agg({"Marks":"sum", "Attendance":"sum"})
print("\nAggregated Total DataFrame:")
print(df2)



df2["Percentage"] = (df2["Marks"]/200 ) * 100

print("\nAggregated Total DataFrame with Percentage:")
print(df2)

Original DataFrame:
       CAT  Marks  Attendance
0      Abi     90          80
1      Bob     20          90
2  Charles     10          70
3      Abi     50          75
4      Bob     30          80
5  Charles     20          75

Aggregated Min and Max DataFrame:
        Marks     Attendance
          min max        min max
CAT
Abi        50  90         75  80
Bob        20  30         80  90
Charles    10  20         70  75

Aggregated Total DataFrame:
         Marks  Attendance
CAT
Abi        140         155
Bob         50         170
Charles     30         145

Aggregated Total DataFrame with Percentage:
         Marks  Attendance  Percentage
CAT
Abi        140         155        70.0
Bob         50         170        25.0
Charles     30         145        15.0