In [12]:
import pandas as pd
df=pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [19]:
import pandas as pd
Emp=pd.Series(['uma','siva','sindhu','ravi'])
id=pd.Series([10,20,30,40])
frame={'Emp':emp,'ID':id}
result=pd.DataFrame(frame)
print("\nseries to dataframe\n")
print(result)

series to dataframe

         Emp  ID
0        uma  10
1  maithresh  20
2     sindhu  30
3       ravi  40

In [21]:
import pandas as pd
Emp=pd.Series(['uma','siva','sindhu','ravi'])
id=pd.Series([10,20,30,40])
frame={'Emp':emp,'ID':id}
result=pd.DataFrame(frame)
print("\nseries to dataframe\n")
print(result)

series to dataframe

         Emp  ID
0        uma  10
1  maithresh  20
2     sindhu  30
3       ravi  40

In [22]:
print("\nExtracting one coloumn\n")
print(result['Emp'])

Extracting one coloumn

0          uma
1    maithresh
2       sindhu
3         ravi
Name: Emp, dtype: object

In [24]:
#adding new coloumn
result['Age']=pd.Series([20,25,30,50])
print(result)

         Emp  ID  Age
0        uma  10   20
1  maithresh  20   25
2     sindhu  30   30
3       ravi  40   50

In [25]:
#delete an existing coloumn
del result['Age']
print(result)

         Emp  ID
0        uma  10
1  maithresh  20
2     sindhu  30
3       ravi  40

In [29]:
#extracting 2nd row
print("\n Extracting 2nd row")
print(result.loc[1])

 Extracting 2nd row
Emp    maithresh
ID            20
Name: 1, dtype: object

In [30]:
#slicing
print("slicing rows:\n",result[1:3])

slicing rows:
          Emp  ID
1  maithresh  20
2     sindhu  30

In [40]:
#concadinating
d2=pd.DataFrame([['Anu',20],['Jinu',19]],columns=['Emp','ID'])
print("\n Adding new row values:\n",pd.concat([result,d2]))

 Adding new row values:
          Emp  ID
0        uma  10
1  maithresh  20
2     sindhu  30
3       ravi  40
0        Anu  20
1       Jinu  19